/*******************************/
/* facilities */
/*******************************/

.facilities {
  padding: 20rem 12rem 12rem 12rem;
}

.facilities-text {
  display: grid;
}

.services-text {
  margin: 10rem 0 3rem 0;
  font-weight: 300;
  font-size: 3.6rem;
  justify-self: center;
  text-align: center;
  line-height: 1.4;
}

.service-list {
  display: grid;

  justify-content: center;
}

.service-lists {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-self: center;
  margin-top: 5rem;
}

.service-list-item {
  font-size: 2rem;
  font-weight: 300;
  position: relative;
}

.service-list-item::after {
  content: "";
  position: absolute;
  width: 12%;
  height: 0.2rem;
  background-color: rgb(239, 95, 37);
  bottom: 50%;
  left: -25%;
}

.reservation {
  margin-top: 15rem;
}

.reservation-content {
  display: grid;

  justify-content: center;
}

.reservation-text {
  font-size: 4.4rem;
  justify-self: center;
  text-align: center;
  line-height: 1.2;
}

.link {
  justify-self: center;
  padding-top: 5rem;
}

.contact-link:link,
.contact-link:visited {
  display: inline-block;
  font-size: 2.8rem;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  background-color: rgba(239, 95, 37, 1);
  padding: 3rem 7rem;
}

.contact-link:hover,
.contact-link:active {
  background-color: #d75621;
}

/*******************************/
/* Carousel layout */
/*******************************/

.facilities .carousel {
  padding: 0 55px;
}

.facilities .splide__slide {
  display: flex;
  justify-content: center;
}

.facilities .room-card {
  max-width: 385px;
  width: 100%;
}

/*******************************/
/* Carousel arrows & dots */
/*******************************/

.facilities .splide__arrow {
  background: rgb(239, 95, 37);
  opacity: 1;
  border-radius: 0;
  width: 20px;
  height: 25px;
  padding: 0;
}

.facilities .splide__arrow svg {
  fill: #fff;
  width: 10px;
  height: 10px;
}

.facilities .splide__arrow--prev {
  left: -30px;
}

.facilities .splide__arrow--next {
  right: -30px;
}

@media (max-width: 765px) {
  .facilities .splide__arrow {
    display: none;
  }
}

.facilities .splide__pagination__page.is-active {
  background: rgb(239, 95, 37);
}

.facilities .splide {
  padding-bottom: 28px;
}

.facilities .splide__pagination {
  bottom: 8px;
}

@media (min-width: 1301px) {
  .facilities .splide__track {
    overflow: hidden;
  }
  .facilities .splide__slide {
    flex: none;
  }
}
