/*******************************/
/* rooms */
/*******************************/

.hotel-room-section {
  padding: 20rem 12rem 12rem 12rem;
}

.hotel-room-section-text {
  display: grid;
}

.hotel-rooms-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
  margin-top: 10rem;
}
